In [6]:
import pandas as pd

# Задание 1

In [9]:
logs = pd.read_csv("visit_log.csv", sep=';')

logs.loc[((logs.traffic_source == 'yandex') |
          (logs.traffic_source == 'google')), 'source_type'] = 'organic'

logs.loc[(((logs.traffic_source == 'paid') |
           (logs.traffic_source == 'email')) &
          (logs.region == 'Russia')), 'source_type'] = 'ad'

logs.loc[(((logs.traffic_source == 'paid') |
           (logs.traffic_source == 'email')) &
          (logs.region != 'Russia')), 'source_type'] = 'other'

logs.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

# Задание 2

In [10]:
urls = pd.read_csv("URLs.txt")
urls.loc[urls.url.str.contains(r'/\d{8}-'), 'url']

3     /politics/36188461-s-marta-zhizn-rossiyan-susc...
4     /world/36007585-tramp-pridumal-kak-reshit-ukra...
5     /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6     /video/36001498-poyavilis-pervye-podrobnosti-g...
7     /world/36007585-tramp-pridumal-kak-reshit-ukra...
                            ...
88    /cis/35984145-kreml-prokommentiroval-soobschen...
89    /video/36071019-olimpiyskie-obekty-rio-prevrat...
90    /science/36151301-nazvano-posledstvie-zloupotr...
91    /incidents/36027330-vospitatelnitsu-zatravili-...
92    /world/36103095-dominikanskih-zhurnalistov-ubi...
Name: url, Length: 84, dtype: object

# Задание 3

In [14]:
rat = pd.read_csv("ml-latest-small/ratings.csv")

count = 100
rat['date'] = rat.timestamp.apply(lambda x: pd.Timestamp(x, unit = 's'))
m = rat.groupby('userId')
rat_count = m.count().join(m.min().date, rsuffix = '_min').join(m.max().date, rsuffix = '_max')
rat_count['difference'] = rat_count.date_max-rat_count.date_min
rat_count[m.rating.count() > count].difference.mean()
print(f'Среднее время жизни - {rat_count[m.rating.count() > count].difference.mean()}')

Среднее время жизни - 463 days 21:28:27.449612408

# Задание 4

In [21]:
rzd = pd.DataFrame({'client_id': [111, 112, 113, 114, 115],
                    'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({'client_id': [113, 114, 115, 116, 117],
                     'auto_revenue': [57483, 83, 912, 4834, 98]})

air = pd.DataFrame({'client_id': [115, 116, 117, 118],
                    'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
                            'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                                        'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

ftable = rzd.merge(auto, how = 'outer').merge(air, how = 'outer')
stable = ftable.merge(client_base, how = 'outer')

print(ftable, '\n\n', stable)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0
5        116          NaN        4834.0          4.0
6        117          NaN          98.0         13.0
7        118          NaN           NaN        173.0

    client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4