In [1]:
import pandas as pd

# Задание 1

In [22]:
def ratings(row):
    if row <= 2:
        return "низкий рейтинг"
    elif (row > 2) and (row <= 4):
        return "средний рейтинг"
    return "высокий рейтинг"

rat = pd.read_csv("ratings.csv")
rat["class"] = rat.rating.apply(ratings)
rat.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2

In [31]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

def region(row):
    if row in geo_data['Центр']:
        return "Центр"
    elif row in geo_data['Северо-Запад']:
        return "Северо-Запад"
    elif row in geo_data['Дальний Восток']:
        return "Дальний Восток"
    else:
        return "undefined"

words = pd.read_csv("keywords.csv")

words['region'] = words.keyword.apply(region)
words.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

# Задание 3

In [42]:
rat = pd.read_csv('ratings.csv')[["movieId", "rating"]]
mov = pd.read_csv('movies.csv')[["movieId", "title"]]

common = rat.merge(mov, how='left', on='movieId')
common['year'] = common.title.str.extract('.*\((.*)\).*', expand=True)

com = common[['year', 'rating']].groupby('year').mean().reset_index()
com.sort_values('rating', ascending=False).head()

    year    rating
7   1921  4.416667
0   1902  4.333333
14  1928  4.261905
3   1917  4.250000
4   1918  4.250000